.timeline{
    display: flex;
}
.impaire{
    padding: 5px;
    position: absolute;
    top: 75px;
    text-align: center; 
    border-radius: 8px 8px 0 0;
}
.paire{
    padding: 5px;
    position: absolute;
    top: 18px;
    text-align: center; 
    border-radius: 0 0 8px 8px;
}
.libelle{ /*libelles normaux*/
    width: 98px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
/*libelles speciaux*/
.autre{
    width: 50px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.hover{
    width: 95px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

h5{
    color: white;
}

/*slide de -500 à 1500*/

#titre1{
    left: 0;
}
#titre2{
    left: 95px;
}
#titre3{
    left: 150px;
}
#titre4{
    left: 194px;
}
#titre5{
    left: 380px;
}
#titre6{
    left: 565px;
}
#titre7{
    left: 655px;
}
#titre8{
    left: 840px;
}
#titre9{
    left: 970px;
}

/*Slide 1*/
#titre11{
    left: 25px;
}
#titre12{
    left: 500px;
}
#titre13{
    left: 712px;
}
#titre14{
    left: 950px;
}

/*Slide 2*/
#titre15{
    left: 80px;
}
#titre16{
    left: 230px
}
#titre17{
    left: 290px
}
#titre18{
    left: 430px;
}
#titre19{
    left: 460px;
}
#titre20{
    left: 550px;
}

/*Slide 3*/
#titre21{
    left: 75px;
}
#titre22{
    left: 360px;
}
#titre23{
    left: 450px;
}
#titre24{
    left: 490px;
}
#titre25{
    left: 555px;
}
#titre26{
    left: 680px;
}
#titre27{
    left: 760px;
}
#titre28{
    left: 790px;
}
#titre29{
    left: 890px;
}
#titre30{
    left: 925px;
}

/*Slide 4*/
#titre31{
    left: 30px;
}
#titre32{
    left: 75px;
}
#titre33{
    left: 85px;
}
#titre34{
    left: 130px;
}
#titre35{
    left: 175px;
}
#titre36{
    left: 185px;
}
#titre37{
    left: 235px;
}
#titre38{
    left: 285px;
}
#titre39{
    left: 335px;
}
#titre40{
    left: 340px;
}
#titre41{
    left: 430px;
}
#titre42{
    left: 470px;
}
#titre43{
    left: 488px;
}
#titre44{
    left: 525px;
}
#titre45{
    left: 540px;
}
#titre46{
    left: 580px;
}
#titre47{
    left: 610px;
}
#titre48{
    left: 650px;
}
#titre49{
    left: 825px;
}
#titre50{
    left: 835px;
}
#titre51{
    left: 880px;
}
#titre52{
    left: 900px;
}
#titre53{
    left: 935px;
}

/*slide 5*/
#titre55{
    left: 40px;
}
#titre56{
    left: 40px;
    white-space: nowrap;
}
#titre57{
    left: 95px;
}
#titre58{
    left: 95px;
}
#titre59{
    left: 150px;
}
#titre60{
    left: 150px;
}
#titre61{
    left: 255px;
}
#titre62{
    left: 280px;
}